@import "typography";
@import "layout";

body,
#_next {
  margin: 0;
  background: $light-pink;
  color: $black;
}
body {
  min-height: 100vh;
  background:$light-pink;
  height:100vh;
}

* {
  box-sizing: border-box;
}
